.weather-forecast-container{
    padding:20px; 
    position:relative;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
}

.weather-forecast-container__day{
    color: gray;
    font-size: 16px;
}